<!-- your html code here --> 
<nav class="navbar navbar-expand-lg navbar-light mb-5" style="background-color: crimson;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-book-skull"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="fa-solid fa-wand-sparkles"></i>
            wands
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa-solid fa-chess-board"></i>
            Game
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-scroll"></i>
            deeper
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">
              <i class="fa-solid fa-chess-rook"></i>
              Strategies
            </a></li>
            <li><a class="dropdown-item" href="#">
              <i class="fa-solid fa-chess-knight"></i>
              Combos
            </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">
              <i class="fa-solid fa-dragon"></i> 
              Ultimates
            </a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="meaning of life" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Whish</button>
      </form>
    </div>
  </div>
</nav>